* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.header {
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(hsla(300, 3%, 8%, 0.7), rgba(4, 9, 30, 0.7)),
        url("../images/background.jpg");
    background-position: center;
    background-size: cover;
    position: relative;
    display: block;
}

nav {
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    justify-content: space-between;
    text-align: center;
}

nav strong {
    width: 80%;
    font-size: 5vh;
    /* font-family: Aladin, cursive; */
    color: rgb(255, 255, 255);
}


.nav {
    border: 1px solid #ccc;
    background-color: #000;
    border-width: 1px 0;
    list-style: none;
    /* padding: 1em; */
    text-align: center;
}

.nav li {
    display: inline;
}

.nav a {
    display: inline-block;
    padding: 10px;
}

.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav-links ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
}

.nav-links ul li::after {
    content: '';
    width: 0;
    height: 2px;
    background: #f44346;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li:hover::after {
    width: 100%;


}

nav .fa {
    display: none;
}

.tex-box {
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    margin-top: 50px;
    display: flex;
}


.tex-box p {
    margin: 10px 0 40px;
    font-size: 20px;
    color: #fff;
}

.prof-image{
    width: 100%;
}

nav .fa {
    display: none;
}

/* --------- programming ------ */
.container {
    width: 100%;
    background-color: #ddd;
}

.skills {
    text-align: right;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;

}

.html {
    width: 40%;
    background-color: #791c1c;
}

.c_lang {
    width: 60%;
    background-color: #a0e71c;

}

.py {
    width: 80%;
    background-color: #18aa30;

}

@media(max-width:700px) {
    .header{
        min-height: 120vh;
    }
    html,
    body {
        overflow-x: hidden;
    }

    nav strong {
        width: 80%;
        font-size: medium;
    }

    .tex-box {
        display:block;
        margin-top: 50px;
    }

    .nav-links ul li {
        display: block;
    }

    .nav-links {
        position: fixed;
        background: rgb(16, 17, 17);
        width: 100%;
        top: 0;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }

    nav .fa {
        display: block;
        color: #fff;
        margin: 10px;
        font-size: 20px;
        cursor: pointer;
    }

    .nav-links ul {
        padding: 40px;
    }

    .back,
    .education {
        font-size: .8em;
        text-align: center;
    }

    .row {
        flex-direction: column;
    }


}

/*----------Background-----------*/
.background {

    width: 100%;
    background: rgba(158, 199, 10, 0.1);
    margin: auto;
    text-align: center;
    padding-top: 100px;
}

.background h4 {
    font-size: 36px;
    font-weight: 600;
}

.background h5 {
    text-align: center;
    padding: 10px;
    margin: auto;
    width: 70%;
}

.background p {
    width: 65%;
    margin: auto;
    word-spacing: normal;
}

.back,
.education {
    margin-left: 10px;
}

/*-----------Online Certifications--------*/
.certificates {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}

.certificates h4 {
    font-size: 36px;
    font-weight: 600;
}

.certificates a:link {
    text-align: center;
    font-size: 16px;
    text-decoration: none;
}

.certificates a:visited {
    color: rgb(56, 211, 89);
    text-decoration: none;
}

.certificates a:hover {
    color: rgb(65, 59, 177);
    text-decoration: underline;
}

/*---------Technology CSS----------*/

.technology {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}

.technology h1 {
    font-size: 36px;
    font-weight: 600;
}

.technology p {
    color: #000;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}

.row {
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}

.lang-lev {
    flex-basis: 31%;
    background: #cebaba;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
}

.lang-lev h3 {
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}

.lang-lev:hover {
    box-shadow: 0 0 20px 0px rgb(0, 0, 0, 0.6);
}


/*-----------------Footer CSS-----*/


.footer {
    width: 100%;
    text-align: center;
    padding: 30px 0;
}

.footer h4 {
    margin-bottom: 25px;
    margin-top: 20px;
    font-weight: 600;
}

.icons .fa {
    color: #f44346;
    margin-bottom: 13px;
    cursor: pointer;
    padding: 18px 0;
    font-size: 30px;
}

.fa-heart {
    color: #f44346;
}

.fa-hand-o-down {
    color: #a1620f;
    font-size: 50px;
}